<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PetSute">

    <!--<listeners>
        <listener class-name="utilities.ExtentReportManager"></listener>
        &lt;!&ndash;Добавили слушатель чтобы можно было создавать отчеты&ndash;&gt;
    </listeners>-->


    <test verbose="2" preserve-order="true" name="PetTests">
        <classes>

            <!--<class name="tests.DDTests">
                <methods>
                    <include name="testPOSTUser"/>
                    <include name="deleteUserByName"/>
                </methods>
            </class>-->

          <!--  <class name="tests.UserTests">
                <methods>
                    <include name="testPOSTuser"/>
                    <include name="testGetUserByName"/>
                    <include name="updateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>-->

            <class name="tests.UserTests2">
                <methods>
                    <include name="testPOSTuser"/>
                    <include name="testGetUserByName"/>
                    <include name="updateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>
